<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="todos" name="filter" checked />
  <label class="filter-button neumorphism-button" for="todos">Todos</label>
  <input type="radio" id="sesiones" name="filter" />
  <label class="filter-button neumorphism-button" for="sesiones">Sesiones</label>
  <input type="radio" id="comunidad" name="filter" />
  <label class="filter-button neumorphism-button" for="comunidad">Comunidad</label>
  <input type="radio" id="tool" name="filter" />
  <label class="filter-button neumorphism-button" for="tool">Generales</label>

  {% for ses in site.data.skills-sesiones %}
    <div skill-type="sesiones" skill-weight="{{ses.weight}}" data-aos="zoom-in">
      {{ses.name}}
    </div>
  {% endfor %}
  {% for com in site.data.skills-comunidad %}
    <div skill-type="comunidad" skill-weight="{{com.weight}}" data-aos="zoom-in">
      {{com.name}}
    </div>
  {% endfor %}
  {% for tool in site.data.skills-tools %}
    <div skill-type="tool" skill-weight="{{tool.weight}}" data-aos="zoom-in">
      {{tool.name}}
    </div>
  {% endfor %}
</div>
